* {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  .example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  .example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  .example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  .example::after {
    content: "";
    clear: both;
    display: table;
  }

  .header_title {
      background-color: #0b7dda;
      padding: 5px;
      text-decoration: none;
      color: #f1f1f1;
      font-weight: bold;
      font-size: 20px;
  }

  .bold {
      font-weight: bold;;
  }